a {text-decoration: none;}
a:link {color: #3391ff;}
a:visited {color: #3391ff;}
a:hover {background-color: #415160;}
a:active {background-color: #ffff00;}
b {color:#ff0000;}
#content, #postamble, #preamble {
    max-width: 1200px;
    margin: 0 auto;
}
#preamble {
    border-bottom: 1px solid #CCCCCC;
}
#postamble {
    border-top: 1px solid #CCCCCC;
    padding-top: 5px;
}
table, th, td {border: 1px solid black;}
