html {
    color: #e1e1e0;
    background-color: #000000;
}
a {text-decoration: none;}
a:link {color: #59e9ff;}
a:visited {color: #59e9ff;}
a:hover {background-color: #415160;}
a:active {background-color: #ffff00;}
b {color:#ff0000;}
